<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-header>Basic Policy Information</ion-header>
  <form [formGroup]="newPolicyForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="floating">Insured (select insured)</ion-label>
      <ion-select formControlName="insuredAccount">
        <ion-select-option *ngFor="let ins of insureds" value="{{ins.id}}">{{ins.firstName + ' ' + ins.lastName}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Policy Number</ion-label>
      <ion-input formControlName="policyNumber" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Policy Start Date</ion-label>
      <ion-datetime style="width: 90%; text-align: left;" formControlName="policyStart" displayFormat="MM DD YYYY"
        placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Policy End Date</ion-label>
      <ion-datetime style="width: 90%; text-align: left;" formControlName="policyEnd" displayFormat="MM DD YYYY"
        placeholder="Select Date"></ion-datetime>
    </ion-item>
    <br>
    <ion-header>Vehicle Information</ion-header>
    <ion-item>
      <ion-label position="fixed">Year</ion-label>
      <ion-input formControlName="year" type="number" displayFormat="YYYY" min="1900" max="2022"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">VIN</ion-label>
      <ion-input formControlName="vin" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Make</ion-label>
      <ion-input formControlName="make" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Model</ion-label>
      <ion-input formControlName="model" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Mileage</ion-label>
      <ion-input formControlName="mileage" type="text" required></ion-input>
    </ion-item>


    <br>
    <ion-header>Coverage Information</ion-header>
    <ion-item>
      <ion-checkbox formControlName="bodilyInjuryCovInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Bodily Injury Coverage</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="propertyDmgCovInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Property Damage Coverage</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="medPayCovInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Medical Payments Coverage</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="collisionCovInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Collision Coverage</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="unCovInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Uninsured Motorist Coverage</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="underInsCovInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Underinsured Motorist Coverage</ion-label>
    </ion-item>

    <br>
    <ion-header>Quote and Issue</ion-header>
    <ion-item>
      <ion-checkbox  formControlName="requireUWApprovalInd" color="primary"></ion-checkbox>
      <ion-label class="coverageCheckBoxes">Want to refer this policy to Underwriter?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Enter the premium</ion-label>
      <ion-input formControlName="premium" type="number" required></ion-input>
    </ion-item>
    <ion-button color="primary" type="cancel" (click)="this.router.navigate(['/Home/home'])">Cancel</ion-button>
    <ion-button color="primary" (click)="createPDF()">Generate document</ion-button>
    <ion-button color="primary" type="submit">Issue Policy</ion-button>

  </form>
</ion-content>