<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Insurance Simplified</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="login" type="login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit"  color="primary">Login</ion-button>
  </form>
</ion-content>