<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-button color="primary" (click)="this.router.navigate(['/User/createuser'])">
    <ion-icon name="create"></ion-icon>
    Create User
  </ion-button>
    <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>First Name</ion-col>
      <ion-col>Last Name</ion-col>
      <ion-col>User Name</ion-col>
      <ion-col>Role</ion-col>
    </ion-row>
    <ion-row *ngFor="let uw of users; let i = index">
      <ion-col>{{uw.firstName}}</ion-col>
      <ion-col>{{uw.lastName}}</ion-col>
      <ion-col>{{uw.userName}}</ion-col>
      <ion-col>{{uw.roleName}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
