<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List of insured contacts</ion-title>
  </ion-toolbar>

</ion-header>
<ion-button color="primary" (click)="this.router.navigate(['/CreateInsured/createinsured'])">Create New Insured</ion-button>
<ion-button color="primary" (click)="this.router.navigate(['/NewPolicy/newpolicy'])">Create New Policy</ion-button>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-label>Last Name</ion-label>
    <ion-label></ion-label>
  </ion-item>
     <ion-item-sliding  *ngFor="let uw of insureds; let i = index">
    <ion-item>
      <ion-label>{{uw.firstName}}</ion-label>
      <ion-label>{{uw.lastName}}</ion-label>
    </ion-item>
    <ion-item-options>
      <ion-button (click)="editItem(uw, i)" color="primary" icon-start>
        <ion-icon name="create"></ion-icon>
        Edit
      </ion-button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>

<!--
<ion-content>
  <form [formGroup]="insuredForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="fixed">First Name</ion-label>
      <ion-input formControlName="firstName" type="text" required></ion-input>
    </ion-item>

    
    <ion-item lines="full">
      <ion-label position="fixed">Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Insured Email address</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime formControlName="dob" displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>

    </ion-item>
    

  <ion-radio-group formControlName="gender" lines="full">
    <ion-list-header>
      <ion-label>Gender</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Male</ion-label>
      <ion-radio slot="start" value="male" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Female</ion-label>
      <ion-radio slot="start" value="female"></ion-radio>
    </ion-item>
  </ion-radio-group>


  <ion-button type="submit" color="dark">Next</ion-button>

  </form>
</ion-content>
-->