ion-input {
  --padding-start: 5%;
  --padding-end: 1%;
}

ion-datetime {
  --padding-start: 5%;
  --padding-end: 1%;
}

ion-content {
  --padding-bottom: 10px;
  --padding-end: 1%;
  --padding-start: 2%;
  --padding-top: 20px;
}

.validation-errors {
  font-size: small;
  color: var(--ion-color-danger, #f1453d);
}