<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create New Insured</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="insuredForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item >
      <ion-label position="fixed">First Name</ion-label>
      <ion-input max="50" formControlName="firstName" type="text" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="fixed">Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Date of Birth</ion-label>
      <ion-datetime formControlName="dob" displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>

    </ion-item>


    <!-- Radio buttons -->
    <ion-item>
      <ion-label position="fixed">Gender</ion-label>
      <ion-radio-group formControlName="gender">
        <ion-item>
          <ion-radio slot="start" value="Male" checked></ion-radio>
          <ion-label position="fixed">Male</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start"  value="Female"></ion-radio>
          <ion-label position="fixed">Female</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <br>
    <h5>Address</h5>
    <ion-item>
      <ion-label position="fixed">Line 1</ion-label>
      <ion-input formControlName="addrLine1" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Line 2</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">City</ion-label>
      <ion-input formControlName="city" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">State</ion-label>
      <ion-input formControlName="state" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Zip Code</ion-label>
      <ion-input formControlName="zip" type="number" maxLength="5" required></ion-input>
    </ion-item>
    <ion-button color="primary" type="cancel" (click)="this.router.navigate(['/Insured/insured'])">Cancel</ion-button>
    <ion-button color="primary" type="submit">Create</ion-button>
  </form>
</ion-content>